/* Project app specific css */
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


.green {
  background-color: yellowgreen;
}

.red {
  background-color: lightcoral;
}