.App {
  font-family: sans-serif;
  text-align: center;
  color: aquamarine;
}

h1 {
  text-align: center;
}

.add-todo {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;
  padding: 10px;
  border: solid 1px black;
  text-align: left;
  margin-bottom: 5px;
  border-radius: 3px;
  cursor: pointer;
}

input {
  padding: 0.8rem 2rem;
  margin-bottom: 1rem;
}

button {
  color: lightcoral;
  font-size: 2rem;
  padding: 1rem 2rem
}