.App {
  font-family: sans-serif;
  text-align: center;
  color: aquamarine;
}

h1 {
  text-align: center;
}

div.add-todo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 20vh;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;
  border: solid 1px black;
  text-align: left;
  border-radius: 3px;
  cursor: pointer;
}

input {
  padding: 0.6rem 2rem;
  font-size: 1.2rem;
}

button {
  color: lightcoral;
  font-size: 2rem;
  padding: 0.13rem 2rem
}

.green {
  background-color: lightgreen;
}

.red {
  background-color: lightcoral;
}