.yellow {
  width: 20vw;
  height: 20vh;
  background-color: yellow;
}

.white {
  width: 20vw;
  height: 20vh;
  background-color: white;
}

.box {
  width: 40vw;
  height: 40vh;
  border: 2px solid black;
}